@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --dark: #1C1B22;
    --charcoal: #26242D;
    --link: white;
    --link-hover: #c1c1c1;
}

html {
    height: 100%;
    width: 100%;
    color-scheme: dark;
}

body {
    font-family: 'Roboto Slab';
    background-color: var(--dark);
}

h1 {
    font-family: 'Roboto';
    letter-spacing: 0.2em;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
}

h2 {
    font-family: 'Roboto Slab';
    letter-spacing: 0.15em;
    font-weight: 200;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

a {
    color: var(--link);
    text-decoration: none;
}

a:visited {
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}

.flex-main {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.social-container {
    align-content: center;
    padding: 1em;
    background-color: var(--charcoal);
    border-radius: 10px;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
}